.header {
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 28px;
    font-weight: 700;
}

.header__icon {
    font-size: 28px;
    margin-left: 20px;
    cursor: pointer;
}

.not-selected {
    color: rgba(0, 0, 0, 0.26);
}

.selected {
    text-decoration: underline;
}

.header-wrapper {
    background: white;
    width: 100%;
    position: fixed;
    padding: 5px 30px 20px 10px;
    top: 0px;
}