.nav {
  background-color: rgb(233, 232, 232);
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 20px 50px;
  border-top: 1px solid rgb(172, 172, 172);
  height: 10%;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav__list-link {
  position: relative;
}

.nav__badge {
  font-size: 15px;
  position: absolute;
  color: white;
  top: -10px;
  right: -10px;
  background-color: #dc5d46;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

@keyframes showNavBar {
  from {
    transform: translateY(80x);
  }
  to {
    transform: none;
  }
}

.nav {
  animation: showNavBar 0.5s ease-in-out;
}
