@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "news.css";
@import "more.css";
@import "chat.css";
@import "setting.css";
@import "mobile.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans";
  padding-top: 140px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacticy: 1;
    transform: none;
  }
}

main {
  min-height: 100vh;
  animation: fadeIn 0.5s ease-in-out;
}

a {
  text-decoration: none;
}
